<div class = "container">
<h1> 여기는 게시판 글 리스트 </h1>
<%@every_post.each do |p|%> 

 <!-- every_post의 내용을 하나씩 뽑아서 do와 end 사이에서 처리하겠다. -->
 <!-- 하나씩 뽑은 값을 p에 저장하겠다. -->
 
  <ul class="list-group">
      <li class="list-group-item">제목 : <%= p.title%><br></li>
      <li class="list-group-item">내용 : <%= p.content%><br></li>
      <li class="list-group-item">시간 : <%= p.created_at %></li>
      <li class="list-group-item"><a href="/destroy/<%=p.id%>">[삭제]</a></li>
      <li class="list-group-item"><a href="/update_view/<%=p.id%>">[수정]</a></li>
      <li class="list-group-item"> <b style="color:green">댓글</b><br>
      
        <!-- p의 각 속성을 하나씩 출력 -->
    <!-- =은 출력하겠다는 뜻 -->
       <%p.replies.each do |r| %>
        <%= r.comment%><br>
        <hr>
    <%end%>
    
    
    <div class="form-group">
        <input type="text" name="reple" class="form-control" id="reply_<%=p.id%>" placeholder="댓글을 써주세요">
    </div>
    <button type="submit"  value="<%=p.id%>" class="btn btn-default reply_submit">댓글달기</button>

     </li>
  </ul>
  
<% end %>

<a href="/">게시판 글쓰러가기</a>
</div>


<script>

//reply_submit이 클릭이 되면 아래 코드 실행
//

$(".reply_submit").click(function(){
    
    post_id =this.value // 게시판 글 번호 값을 대입
    content = $("#reply_"+post_id).val() //textarea의 값을 가져온다
    
$.ajax({
  method: "POST", // 메소드는 POST방식으로 
  url: "/comment_create", //보내는 곳
  data: { reple: content, id: post_id } //보내는 데이터 
})
  .done(function( msg ) {
    alert("리플이 작성되었습니다.");
  });
});
</script>